@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './styles/index.css';

#app {
  padding-left: 5rem;

  & .nav-menu {
    transform: translateX(0);
  }

  @media (--desktop) {
    padding-left: 30rem;
    will-change: padding-left;
    transition: padding-left 0.3s ease;

    &.nav-menu-collapsed {
      padding-left: 5rem;
    }
  }

  & .loading-bar {
    position: fixed;
    top: 0;
    left: 0;
  }
}
