<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>Gloomhaven Monsters</title>

    <meta name="title" content="Gloomhaven Monsters">
    <meta name="description" content="A tool for managing Gloomhaven monster cards, status and damages online!">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#000000">

    <% if (process.env.NODE_ENV === 'production') { %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104392414-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-104392414-2');
      </script>
    <% } %>

    <!-- App shell styles -->
    <style>
      body,html{padding:0;margin:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}html{position:relative;font-size:10px;font-size:62.5%;min-height:100vh;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.header,.loading-bar{position:fixed;width:100%}body{font-size:1.8rem;background-color:#F7F8F8;min-height:100%}.header{background-color:#fff;z-index:1;text-align:center;will-change:background-color;min-height:4.9rem;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.03);box-shadow:0 2px 4px 0 rgba(0,0,0,.03)}

        .loading-bar{top:0;left:0;height:.7rem;z-index:2;background:-webkit-linear-gradient(45deg,#ec4e36,#ec3679,#3484eb,#34e0eb,#f24847,#f29d47);background:-o-linear-gradient(45deg,#ec4e36,#ec3679,#3484eb,#34e0eb,#f24847,#f29d47);background:linear-gradient(45deg,#ec4e36,#ec3679,#3484eb,#34e0eb,#f24847,#f29d47);background-size:400% 400%;-webkit-animation:GradientMove 6s linear infinite;animation:GradientMove 6s linear infinite}@-webkit-keyframes GradientMove{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@keyframes GradientMove{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}
    </style>
  </head>
  <body>
    <div id="app">
      <!-- App Shell -->
      <div class="loading-bar"></div>
      <header class="header"></header>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
