<template>
  <div class="scenario">
    <h1>Scenario</h1>
  </div>
</template>

<script>
import Vue from 'vue';
import Component from 'vue-class-component';

@Component()
export default class Scenario extends Vue {

}
</script>

<style scoped>
@import 'core/shared/styles';

.scenario {
  @apply --container;

  & h1 {
    @apply --header1;
  }
}
</style>
