<template>
  <div class="main-navigation">
    <ul class="main-list">
      <li v-for="navigationItem in navigation">

        <router-link v-if="navigationItem.routerLink" tag="div" class="click-area" :to="navigationItem.routerLink">
          <div class="icon">
            <svg v-if="navigationItem.icon"><use :xlink:href="'#' + navigationItem.icon"></use></svg>
            <span v-else>{{ navigationItem.name.charAt(0).toUpperCase() }}</span>
          </div>
          <span>{{ navigationItem.name }}</span>
          <div class="badge" v-if="navigationItem.badge">{{ navigationItem.badge }}</div>
          <div class="notification" v-if="navigationItem.notification">
            <span v-if="typeof navigationItem.notification === 'number'">{{ navigationItem.notification }}</span>
          </div>
        </router-link>

        <a class="click-area" v-if="navigationItem.externalLink" tag="div" rel=noopener :href="navigationItem.externalLink">
          <div class="icon">
            <svg v-if="navigationItem.icon"><use :xlink:href="'#' + navigationItem.icon"></use></svg>
            <span v-else>{{ navigationItem.name.charAt(0).toUpperCase() }}</span>
          </div>
          <span>{{ navigationItem.name }}</span>
          <div class="badge" v-if="navigationItem.badge">{{ navigationItem.badge }}</div>
          <div class="notification" v-if="navigationItem.notification">
            <span v-if="typeof navigationItem.notification === 'number'">{{ navigationItem.notification }}</span>
          </div>
        </a>

        <div class="click-area" v-if="navigationItem.children" @click="openChildren(navigationItem.name, navigationItem.children)">
          <div class="icon">
            <svg v-if="navigationItem.icon"><use :xlink:href="'#' + navigationItem.icon"></use></svg>
            <span v-else>{{ navigationItem.name.charAt(0).toUpperCase() }}</span>
          </div>
          <span>{{ navigationItem.name }}</span>
          <div class="badge" v-if="navigationItem.badge">{{ navigationItem.badge }}</div>
          <div class="notification" v-if="navigationItem.notification">
            <span v-if="typeof navigationItem.notification === 'number'">{{ navigationItem.notification }}</span>
          </div>
          <svg class="chevron"><use xlink:href="#icon-chevron-right"></use></svg>
        </div>

        <div
          class="click-area"
          v-if="navigationItem.action"
          @click="navigationItem.action"
          :class="{'router-link-active': navigationItem.activeCondition}"
        >
          <div class="icon">
            <svg v-if="navigationItem.icon"><use :xlink:href="'#' + navigationItem.icon"></use></svg>
            <span v-else>{{ navigationItem.name.charAt(0).toUpperCase() }}</span>
          </div>
          <span>{{ navigationItem.name }}</span>
          <div class="badge" v-if="navigationItem.badge">{{ navigationItem.badge }}</div>
          <div class="notification" v-if="navigationItem.notification">
            <span v-if="typeof navigationItem.notification === 'number'">{{ navigationItem.notification }}</span>
          </div>
        </div>

      </li>
    </ul>

    <div class="children-panel" :class="{open: childOpen}">
      <h1>{{ childTitle }}</h1>
      <ul>
        <li v-for="child in children">

          <router-link class="click-area" tag="div" v-if="child.routerLink" :to="child.routerLink">
            <span>{{ child.name }}</span>
            <div class="notification" v-if="child.notification">
              <span v-if="typeof child.notification === 'number'">{{ child.notification }}</span>
            </div>
          </router-link>

          <a class="click-area" v-if="child.externalLink" tag="div" rel=noopener :href="child.externalLink">
            <span>{{ child.name }}</span>
          </a>

          <div
            class="click-area"
            v-if="child.action"
            @click="child.action"
            :class="{'router-link-active': child.activeCondition}"
          >
            <span>{{ child.name }}</span>
            <div class="notification" v-if="child.notification">
              <span v-if="typeof child.notification === 'number'">{{ child.notification }}</span>
            </div>
          </div>


        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import handleClickOutside from '../../helpers/handleClickOutside.js';

export default {
  props: {
    navigation: {
      type: Array
    },
    childOpen: Boolean
  },
  data () {
    return {
      childTitle: '',
      children: []
    };
  },
  methods: {
    openChildren (title, children) {
      handleClickOutside('.children-panel', this.childOpen, this.closeChildren);
      this.$emit('setChild', true);
      this.children = children;
      this.childTitle = title;
    },
    closeChildren () {
      this.$emit('setChild', false);
    }
  }
};
</script>

<style scoped>
@import '../../styles';

.main-navigation {
  & .main-list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;

    & li .click-area {
      @apply --body;

      display: flex;
      background-color: var(--colorPrimary);
      color: var(--colorGrey);
      align-items: center;
      padding: var(--spacingSm);
      margin: 0;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;
      will-change: color, background-color;
      transform: translateZ(0);
      text-decoration: none;

      & .icon {
        & span {
          display: block;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          height: 2rem;
          width: 2rem;
          margin-right: var(--spacingSm);
          line-height: 1;
        }
      }

      & svg {
        height: 2rem;
        width: 2rem;
        fill: var(--colorGrey);
        margin-right: var(--spacingSm);
        transition: fill 0.3s ease;
        will-change: fill;
        transform: translateZ(0);

        &.chevron {
          margin-right: 0;
        }
      }

      & span {
        flex: 1 0 auto;
      }

      & .badge {
        @apply --header6;

        color: var(--colorWarning);
        border: 0.1rem solid var(--colorWarning);
        padding: 0.3rem var(--spacingXS);
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
      }

      &.router-link-active {
        color: var(--colorWhite);
        background-color: color(var(--colorPrimary) shade(20%));

        & svg {
          fill: var(--colorWhite);
        }
      }

      &:hover {
        color: var(--colorWhite);

        & svg {
          fill: var(--colorWhite);
        }
      }
    }
  }

  & .notification {
    @apply --header6;

    margin: 0;
    border-radius: 50%;
    background-color: var(--colorAccent);
    color: var(--colorWhite);
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    text-align: center;
    line-height: 1.3rem;
    margin-left: var(--spacingSm);
  }

  & .children-panel {
    position: absolute;
    background-color: color(var(--colorPrimary) lightness(20%));
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - var(--spacingLg));
    padding: calc(var(--spacingMd) + 0.5rem) 0;
    transform: translateX(100%) translateZ(0);
    transition: transform 0.3s ease;
    will-change: transform;


    &.open {
      transform: translateX(0) translateZ(0);
    }

    & h1 {
      @apply --header6;

      margin: 0;
      color: var(--colorLightGrey);
      margin-bottom: var(--spacingMd);
      padding: 0 var(--spacingSm);
    }

    & ul {
      @apply --body;

      margin: 0;
      padding: 0;
      list-style-type: none;
      color: var(--colorLightGrey);

      & li {
        & .click-area {
          cursor: pointer;
          padding: var(--spacingSm);
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: var(--colorWhite);
          text-decoration: none;

          &:hover {
            color: var(--colorWhite);
            background-color: color(var(--colorPrimary) lightness(15%));
          }

          &.router-link-active {
            background-color: color(var(--colorPrimary) lightness(15%));
          }
        }
      }
    }
  }
}
</style>
