:root {
  --buttonPrimary: {
    background-color: var(--colorAccent);
    font-family: var(--fontSansSerif);
    padding: var(--spacingSm);
    border-radius: 0.6rem;
    border: 0.1rem solid var(--colorAccent);
    color: var(--colorWhite);
    font-weight: 700;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    transform: translateZ(0);
    will-change: background-color border color;
    font-size: 1.4rem;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    text-transform: none;

    & svg {
      transition: fill 0.3s ease;
      transform: translateZ(0);
      will-change: fill;
    }

    &:hover {
      background-color: color(var(--colorAccent) shade(10%));
      border: 0.1rem solid color(var(--colorAccent) shade(10%));
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      background-color: var(--colorGrey) !important;
      border: 0.1rem solid var(--colorWhite) !important;
      color: var(--colorWhite) !important;

      &:hover {
        background-color: var(--colorGrey);
      }
    }
  }

  --buttonPrimarySuccess: {
    @apply --buttonPrimary;

    background-color: var(--colorSuccess);
    border: 0.1rem solid var(--colorSuccess);

    &:hover {
      background-color: color(var(--colorSuccess) shade(10%));
      border: 0.1rem solid color(var(--colorSuccess) shade(10%));
    }
  }

  --buttonPrimaryWarning: {
    @apply --buttonPrimary;

    background-color: var(--colorWarning);
    border: 0.1rem solid var(--colorWarning);

    &:hover {
      background-color: color(var(--colorWarning) shade(10%));
      border: 0.1rem solid color(var(--colorWarning) shade(10%));
    }
  }
}
