:root {
  /* Application Colors */
  --colorPrimary: #1d242d;
  --colorAccent: #ec4e36;
  --colorText: color(#000000, alpha(87%));

  /* Shades */
  --colorBlack: #000000;
  --colorDarkerGrey: #4A4A4A;
  --colorDarkGrey: #666666;
  --colorGrey: #979797;
  --colorLightGrey: #e8e8e8;
  --colorLighterGrey: #f7f8f8;
  --colorWhite: #ffffff;

  /* Alert Colors */
  --colorSuccess: #6bbe4a;
  --colorWarning: #f29d47;
  --colorError: #f24764;
  --colorInfo: #3484eb;
}
