:root {
  --form: {
    & input[type=text],
    & input[type=password],
    & input[type=email],
    & input[type=tel],
    & input[type=number],
    & input[type=date],
    & input[type=datetime],
    & input[type=datetime-local] {
      @apply --text;
    }

    & input[type=submit],
    & button {
      @apply --buttonPrimary;
    }

    & .checkbox-label {
      @apply --checkboxLabel;
    }

    & .input-group {
      @apply --inputGroup;
    }

    & select {
      @apply --select;
    }

    & label {
      @apply --label;
    }

    & textarea {
      @apply --textarea;
    }
  }

  --content: {
    @apply --form;
    @apply --body;

    & h1 {
      @apply --header1;
    }

    & h2 {
      @apply --header2;
    }

    & h3 {
      @apply --header3;
    }

    & h4 {
      @apply --header4;
    }

    & h5 {
      @apply --header5;
    }

    & h6 {
      @apply --header6;
    }

    & a {
      @apply --anchorStyle;
    }

    & small {
      @apply --small;
    }
  }
}
