:root {
  --container: {
    padding: 0 var(--spacingSm);
    width: 100%;
    margin: 0 auto;

    @media (--desktop) {
      padding: 0 var(--spacingMd);
    }
  }

  --contentContainer: {
    @apply --container;

    max-width: 100rem;
  }
}
