:root {
  --text: {
    @apply --body;

    background: var(--colorLighterGrey);
    border-radius: var(--radius);
    width: 100%;
    border: 0.1rem solid var(--colorLightGrey);
    position: relative;
    box-shadow: none;
    font-weight: 700;
    padding: var(--spacingSm);
    margin: 0;
    text-transform: none;
    appearance: none;

    &:disabled {
      background: var(--colorLightGrey);
    }

    &:focus {
      outline: none;
      background: color(var(--colorLighterGrey) blackness(7%));
    }
  }

  --inputGroup: {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacingSm);

    &:last-child {
      padding-bottom: 0;
    }

    & .error {
      @apply --small;

      opacity: 0;
      margin-top: var(--spacingXS);
      color: var(--colorError);
      transition: opacity 0.3s ease;
    }

    & small,
    & .help {
      @apply --small;

      margin-top: var(--spacingXS);
    }

    &.error {
      & input {
        border: 0.1rem solid var(--colorError);
      }

      & label {
        color: var(--colorError);
      }

      & .error {
        opacity: 1;
      }
    }
  }

  --label: {
    @apply --header6;

    color: var(--colorGrey);
    margin: 0;
    margin-bottom: var(--spacingXS);
    text-transform: uppercase;
  }

  --select: {
    @apply --header5;

    background: var(--colorLighterGrey);
    margin: 0;
    text-transform: none;
    width: 100%;
    border: 0.1rem solid var(--colorLightGrey);
    padding: var(--spacingSm);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-position: calc(100% - var(--spacingSm)) center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    will-change: border;
    transform: translateZ(0);
    transition: border 0.3s ease;
    appearance: none;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      background-color: var(--colorLightGrey);
    }

    &.error {
      border: 0.1rem solid var(--colorError);
    }

    &.open {
      background-image: url('/static/images/chevron-up.svg');
    }

    &[multiple] {
      background-image: none;
    }
  }

  --checkboxLabel: {
    @apply --label;

    display: inline-flex;
    align-items: center;
    margin-bottom: 0;

    & input {
      @apply --checkbox;
    }
  }

  --checkbox: {
    width: 4.5rem;
    height: 2.5rem;
    position: relative;
    margin: 0;
    margin-left: 0.3rem;
    margin-right: var(--spacingSm);
    background: none;
    border: none;
    vertical-align: middle;

    -webkit-appearance: none;

    &:before {
      visibility: visible;
      content: ' ';
      display: inline-block;
      width: 4.5rem;
      height: 2.5rem;
      background: var(--colorGrey);
      border-radius: 2.5rem;
      cursor: pointer;
      transition: background ease-in-out .2s, box-shadow ease-in-out .2s;
    }

    &:after {
      visibility: visible;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
      border-radius: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      background: var(--colorWhite);
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
      cursor: pointer;

      transition: transform ease-in-out .2s;
    }

    &:focus {
      outline: none;

      &:before {
        box-shadow: 0 0 1rem color(var(--colorSuccess) alpha(50%));
      }
    }

    &:checked {
      &:before {
        background: var(--colorSuccess);
      }

      &:after {
        transform: translateX(2rem);
      }
    }
  }
}
