:root {
  --fontSansSerif:
    'Open Sans',
    sans-serif;

  --header1: {
    font-size: 3rem;
    font-family: var(--fontSansSerif);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    margin: var(--spacingSm) 0;

    @media (--desktop) {
      font-size: 3rem;
    }
  }

  --header2: {
    font-size: 2.5rem;
    font-family: var(--fontSansSerif);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 0.05rem;
    margin: var(--spacingSm) 0;

    @media (--desktop) {
      font-size: 2.5rem;
    }
  }

  --header3: {
    font-size: 2rem;
    font-family: var(--fontSansSerif);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 0.04rem;
    margin: var(--spacingSm) 0;

    @media (--desktop) {
      font-size: 2.2rem;
    }
  }

  --header4: {
    font-size: 1.8rem;
    font-family: var(--fontSansSerif);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 0.03rem;
    margin: var(--spacingSm) 0;

    @media (--desktop) {
      font-size: 2rem;
    }
  }

  --header5: {
    font-size: 1.4rem;
    font-family: var(--fontSansSerif);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    margin: var(--spacingSm) 0;

    @media (--desktop) {
      font-size: 1.6rem;
    }
  }

  --header6: {
    font-size: 1.1rem;
    font-family: var(--fontSansSerif);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    margin: var(--spacingSm) 0;
  }

  --header6Small: {
    @apply --header6;

    font-size: 1.4rem;
    text-transform: none;
  }

  /* *************
       Others
  ************* */

  --body: {
    font-size: 1.4rem;
    font-family: var(--fontSansSerif);
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    color: var(--colorText);

    @media (--desktop) {
      font-size: 1.6rem;
    }
  }

  --small: {
    font-size: 1.1rem;
    font-family: var(--fontSansSerif);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  --anchorStyle: {
    position: relative;
    font-family: var(--fontSansSerif);
    font-weight: 600;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    transition: 0.2s ease all;
    cursor: pointer;
    color: var(--colorInfo);
    text-decoration: none;

    &:hover {
      color: var(--colorAccent) !important;
    }
  }
}
