:root {
  --zTop: 9999;
  --zFlash: 300;
  --zNavMenu: calc(var(--zHeader) + 15);
  --zDarkenOverlay: calc(var(--zHeader) + 12);
  --zLoadingBar: calc(var(--zHeader) + 10);
  --zHeader: 200;
  --zContent: 100;
  --zBottom: -9999;
}
