<template>
  <div class="flash-container" :class="[{ 'show': show }]">
    <div
      class="flash"
      :class="type">
      <svg><use :xlink:href="icon"></use></svg>
      <span>{{ message }}</span>
      <div class="x" @click="closeFlash"><svg><use xlink:href="#icon-x"></use></svg></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      validator: value => {
        return value === 'success' || value === 'error' || value === 'info';
      }
    },
    message: String,
    show: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.closeFlash();
  },
  computed: {
    icon () {
      if (this.type === 'success') return '#icon-check';
      if (this.type === 'error') return '#icon-alert-triangle';
      if (this.type === 'info') return '#icon-alert-circle';
    }
  },
  methods: {
    closeFlash () {
      this.$store.commit('setFlashShow', false);
    }
  }
};
</script>

<style scoped>
@import '../styles';

.flash-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: var(--zFlash);
  will-change: transform;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%) translateZ(0);
  opacity: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;

  &.show {
    transform: translateY(-var(--spacingMd)) translateZ(0);
    opacity: 1;
  }

  & .flash {
    @apply --header6Small;
    @apply --boxShadow;

    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: 0 var(--spacingMd);
    color: var(--colorWhite);
    text-align: left;
    padding: var(--spacingSm) var(--spacingMd);
    background-color: var(--colorDarkerGrey);
    display: flex;
    align-items: center;
    padding-right: var(--spacinLg);

    & svg {
      width: 2rem;
      height: 2rem;
      margin-right: var(--spacingMd);
    }

    & span {
      margin: 0;
      line-height: 1;
    }

    &.success {
      fill: var(--colorSuccess);
    }

    &.error {
      fill: var(--colorError);
    }

    &.info {
      fill: var(--colorInfo);
    }

    & .x {
      position: absolute;
      right: var(--spacingSm);
      top: var(--spacingSm);
      fill: var(--colorGrey);

      & svg {
        margin-right: 0;
      }
    }
  }
}
</style>
