<template>
  <div class="nav-menu-container">
    <div class="nav-menu" :class="{collapsed}">
      <div class="stay-put-container">
        <main-navigation :navigation="navigation" :childOpen="childOpen" @setChild="setChild" />
        <div class="bottom-items">
          <slot name="bottom-items" />
        </div>
        <div class="collapse" @click="$emit('setCollapsed', !collapsed)">
          <svg v-if="!collapsed"><use xlink:href="#icon-chevrons-left"></use></svg>
          <svg v-if="collapsed"><use xlink:href="#icon-chevrons-right"></use></svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainNavigation from './nav-menu/MainNavigation';

export default {
  props: {
    collapsed: {
      type: Boolean,
      default: false
    },
    navigation: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      childOpen: false
    };
  },
  methods: {
    setChild (open) {
      this.$emit('setCollapsed', false);
      this.childOpen = open;
    }
  },
  watch: {
    open (open) {
      if (!open) {
        this.setChild(false);
      }
    }
  },
  components: {
    MainNavigation
  }
};
</script>

<style scoped>
@import '../styles';

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 85vw;
  max-width: 30rem;
  background-color: var(--colorPrimary);
  z-index: 400;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%) translateZ(0);
  will-change: transform;
  z-index: var(--zNavMenu);

  & .main-navigation {
    z-index: 2;
  }

  & .stay-put-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(0) translateZ(0);
    will-change: transform;
  }

  & .collapse {
    margin-top: auto;
    display: flex;
    background-color: var(--colorPrimary);
    color: var(--colorGrey);
    align-items: center;
    padding: var(--spacingSm);
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    will-change: color, background-color;
    transform: translateZ(0);
    z-index: 1;

    & svg {
      height: 2rem;
      width: 2rem;
      fill: var(--colorGrey);
      margin-right: var(--spacingSm);
      transition: fill 0.3s ease;
      will-change: fill;
      transform: translateZ(0);
    }

    &:hover {
      color: var(--colorWhite);

      & svg {
        fill: var(--colorWhite);
      }
    }
  }

  &.collapsed {
    transform: translateX(calc(-100% + 5rem)) !important;
    padding-left: -100%;

    & .stay-put-container {
      transform: translateX(calc(100% - 5rem));
    }

    & >>> .logo {
      transform: scale(0.625) translateZ(0) !important;
    }

  }
}

.darken-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color(var(--colorBlack) alpha(40%));
  z-index: 399;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
  transform: translateZ(0);
  z-index: var(--zDarkenOverlay);
}
</style>
