<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import AppMixin from '@/core/shared/AppMixin';

@Component({
  mixins: [ AppMixin ]
})
export default class App extends Vue {
  get navigation () {
    return [
      {
        name: this.$t('Add Monster'),
        icon: 'icon-plus',
        action () {
          console.log('adding');
        }
      },
      {
        name: this.$t('New Round'),
        icon: 'icon-rotate-cw',
        action () {
          console.log('New Round');
        }
      }
    ];
  };
};
</script>

<style>
@import 'core/shared/app-mixin-styles';
</style>
